.divContentSkill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 15%;
  height: 100%;
  overflow-x: hidden;

  .imgSkills {
    display: flex;
    position: absolute;
    border-radius: 50%;
    top: 15%;
    width: 100px;
    height: auto;
    background-color: var(--colorSolid);
  }

  & p {
    display: flex;
    position: absolute;
    top: 40%;
    text-align: center;
    font-size: calc(5px + 0.5em);
  }
}

@media (max-width: 768px) {
  .divContentSkill {
    position: relative;
    flex-direction: column;
    width: 15%;
    height: 90%;

    .imgSkills {
      position: absolute;
      top: 10%;
      height: 30%;
      width: auto;
    }

    & p {
      position: relative;
      overflow-y: hidden;
      top: 20%;
    }
  }
}

@media (max-height: 580px) {
  .divContentSkill {
    .imgSkills {
      top: 10px;
    }
    p {
      font-size: 2.5vh;
    }
  }
}

.divContentSkill::-webkit-scrollbar {
  display: none;
}
